<a href="https://www.sikiedu.com/">
  <img src="../../../assets/images/logo.png" class="header-logo">
</a>

<ng-container *ngFor="let item of menuList">
  <a nz-dropdown [nzDropdownMenu]="menu" *ngIf="item.list else showTemplate" [routerLink]="item.path" class="menu-title">
    {{ item.name }}
    <span nz-icon nzType="caret-down" nzTheme="outline"></span>
    <!-- <nz-icon nzType="caret-down" nzTheme="outline" />  自 v19 版本起受支持-->
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      <li nz-menu-item *ngFor="let child of item.list" (click)="goToPage(child)">{{child.name}}</li>
      <!-- routerLink方式跳转及传递参数 -->
      <!-- <li nz-menu-item *ngFor="let child of item.list" [routerLink]="[child.path]" [queryParams]="{id: 1}">{{child.name}}</li> -->
    </ul>
  </nz-dropdown-menu>
  <ng-template #showTemplate>
    <a [routerLink]="item.path" class="menu-title">
      {{item.name}}
    </a>
  </ng-template>
</ng-container>

<!-- avatar -->
 <ng-container>
  <nz-avatar
  nz-dropdown
  [nzDropdownMenu]="theme"
  [nzSize]="35"
  nzIcon="user"
  nzSrc="https://www.sikiedu.com/files/default/2019/08-06/222854637f91628894.jpg"
  class="header-avatar"
  ></nz-avatar>

  <nz-dropdown-menu #theme="nzDropdownMenu" nzTrigger="click">
    <ul nz-menu nzSelectable>
      <li nz-menu-item (click)="changeTheme('default')">default theme</li>
      <li nz-menu-item (click)="changeTheme('dark')">dark theme</li>
      <li nz-menu-item (click)="logout()">退出登录</li>
    </ul>
  </nz-dropdown-menu>
 </ng-container>

